 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  /*Zerando CSS */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo-ecrã*/

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(Imagenes/inge.png), linear-gradient(rgba(17, 17, 17, 0.8),rgba(20, 20, 20, 1));
    background-position: center right;
    background-size: small;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/*Menu-Header-NavBar*/

header{
    width: 100%;
    height: 7vh;
    background-color: rgba(22,22,22, 0.2);
}

.menu-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}


.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content:' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(212, 150, 69);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/*Centro- Conteudo Principal*/

main {
    height: 93vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 80px;
    margin-top: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

/*Textos conteudo principal*/

.primary-text {
    width: 750px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: left;
}

.second-text {
    margin-bottom: 7rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    color: rgb(165,165,165);
    font-weight: lighter;
}

/*Botões*/

.button {
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: 200px;
    height: 60px;
    margin-top: 5rem;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 15px;
    position: relative;
    transition: 1.5s;
}

.button:hover {
    color: rgb(219,150,69);
    border: none;
}

.button:before {
    content:' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61,61,61);
    z-index: -1;
    transition: 1s;
}

.button:hover:before {
    width: 100%;
}

@media (max-width: 640px) {

    body {
        background: linear-gradient(rgba(17, 17, 17, 0.8),rgba(20, 20, 20, 1));
        text-align: center;
}

    header{
        width: 100%;
        height: 7vh;
        background-color: rgba(22,22,22, 0.2);
    }
    
    .menu-content {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
    }
    
    .logo {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        cursor: pointer;
    }
    .menu-content .list-itens {
        display: flex;
        list-style: none;
        gap: 10px;
    }
    
    .menu-content .list-itens a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        transform: 2ms ease-in;
        position: relative;
    }
    

.primary-text {
    width: 400px;
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: center;
}
main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    justify-content: center;
    align-items: center;
    margin-left: 110px;
}